* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin:0;
}
.screen {
    display: flex;
    height: 100vh;
}
.leftside {
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
 }
.leftside img {
    max-width: 650px;
    height: auto;
}
.rightside {
    width: 400px;
    background-color: #DDD;
    padding:50px;
}
.rightside label {
    display: block;
    margin-bottom: 20px;
}
.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius:5px;
    padding: 8px;
    font-size: 14px;
}
.error {
    font-size: 12px;
    color: #FF0000;
    padding: 4px;
}